
.div-container-btn-footer {
    position: relative;
    width: 100%;
    height: auto;
}
.btn-footer {
    position: absolute;
    width: 90px;
    height: 90px;
    left: 90%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icone {
    height: 100px;
    width: 50px;
}

@media screen and (max-width: 1000px) {

    .div-container-btn-footer {
        position: relative;
        width: 100%;
        height: auto;
    }

    .btn-footer {
        position: absolute;
        width: 80px;
        height: 80px;
        left: 90%;
        color: white;
    }
}

@media screen and (max-width: 765px) {

    .div-container-btn-footer {
        position: relative;
        width: 100%;
        height: auto;
    }

    .btn-footer {
        position: absolute;
        width: 80px;
        height: 80px;
        left: 85%;
        color: white;
    }
}

@media screen and (max-width: 620px) {

    .div-container-btn-footer {
        position: relative;
        width: 100%;
        height: auto;
    }

    .btn-footer {
        position: absolute;
        width: 80px;
        height: 80px;
        left: 80%;
        color: white;
    }
}